node_modules/
gen/
dist/
coverage/
.nyc_output/
mta_archives/
Makefile_*.mta
.*_mta_build_tmp/

*.db
*.sqlite
*.sqlite3
db.sqlite

.env
.env.*
!.env.example

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.DS_Store
Thumbs.db
